@model OneCoreTest2023.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo Datos Usuarios</h2>

@using (Html.BeginForm("Nuevo", "CLIENTE", FormMethod.Post))

{
    <div class=" row">
        <div class="col-md-12">
            <div>
                @Html.LabelFor(d => d.NOMBRE)
                @Html.TextBoxFor(d => d.NOMBRE, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.NOMBRE, "", new { @class = "red" })

            </div>
            <div>
                @Html.LabelFor(d => d.RFC)
                @Html.TextBoxFor(d => d.RFC, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.RFC, "", new { @class = "red" })
            </div>
                @Html.LabelFor(d => d.DIRECCION)
                @Html.TextBoxFor(d => d.DIRECCION, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.DIRECCION, "", new { @class = "red" })
        <div>
            @Html.LabelFor(d => d.CP)
            @Html.TextBoxFor(d => d.CP, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.CP, "", new { @class = "red" })
        </div>
        <div>
            @Html.LabelFor(d => d.CORREO)
            @Html.TextBoxFor(d => d.CORREO, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.CORREO, "", new { @class = "red" })
        </div>

            <div claas="row" style="text-align:right;padding:5px;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
            </div>
        </div>
    </div>
}